// Visual styles for table drag.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // Rotary_Theme variables.
@import "../mixins";                      // Rotary_Theme mixins.
// -----------------------------------------------------------------------------
 
tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

body div.tabledrag-changed-warning {
  margin-bottom: ($spacer / 2);
}
